@use "./var";

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.zweiW4 {
    display: flex;
    flex-direction: column;
}

.dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}



h1 {
    margin: 10px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: calc(4.5rem + 1vw);
    color: var.$f-color;
    text-align: center;
}

p {
    font-size: calc(3rem + 1vw);
    color: var.$f-color;
    font-family: "Indie Flower", cursive;
    font-weight: bolder;
}

img {
    width: 40%;
}

.bottom {
    padding-top: 30px;
}

.butn {
    background: var.$f-color;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.butn:hover {
    background: #232931;
    text-decoration: none;
}